<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>example suite 1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>19/05/25 13:12:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainClassTest.setup()[pri:0, instance:cognimaven.MainClassTest@56ef9176]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/05/25 13:12:32</td>   <td>277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClassTest.testMethod1()[pri:0, instance:cognimaven.MainClassTest@56ef9176]">testMethod1</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>19/05/25 13:12:32</td>   <td>319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainClassTest.testMethod2()[pri:0, instance:cognimaven.MainClassTest@56ef9176]">testMethod2</td> 
  <td>main@1522311648</td>   <td></td> </tr>
</table>
